# Ignorar artefatos de desenvolvimento
.angular
.github
.vscode
node_modules
dist
*.component.tsbuildinfo

# Ignorar arquivos fonte (não necessários na imagem final)
src
!src/index.html  # Mantém apenas o index.html essencial

# Ignorar arquivos de teste e configurações
**/*.spec.component.ts
tsconfig.spec.json
proxy.conf.json

# Ignorar documentação e arquivos do projeto
README*.md
.editorconfig
.gitignore

# Ignorar arquivos relacionados ao Docker
docker-compose.yml
src/app/Dockerfile

# Ignorar arquivos de gerenciamento de pacotes
package-lock.json
package.json

# Ignorar configuração do Angular CLI
angular.json
tsconfig.json
tsconfig.app.json